.all-products {
    display: flex;
    flex-wrap: wrap;
}

.box-product {    
    margin: 2rem 0;
    flex-basis: 75%;
}

.box-product img {
    cursor: pointer;
}

.description {    
    font-size: .9rem;
}

.previousvalue {   
    font-size: .9rem;
    text-decoration: line-through;
    display: block;
}

.currentvalue {
    font-size: 1.2rem;
    color: var(--menu-main-hv);
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 361px) {
    .products-plus {
        align-items: center;
        flex-direction: column;     
    }
}